.checkbox-list{
  padding:0;
  margin:0;
  list-style-type:none;
  &__item{
    margin-bottom:62px;
  }
}

@media(min-width: @mobile){
  .checkbox-list{
    &__item{
      display:inline-block;
      vertical-align:top;
      width:50%;
    }
  }
}

@media(min-width: @tablet){
  .checkbox-list{
    &__item{
      width:25%;
    }
  }
}