.drag-file{
  display:none;
}

@media(min-width: @tablet){
  .drag-file{
    display:block;
    width:100%;
    background-color:@blue;
    color:#fff;
    font-size:@font-big;
    font-weight:bold;
    text-align:center;
    padding:20px 0;
    margin-bottom:65px;
  }
}