.label-checkbox{
  font-size:@font-title;
  font-weight:bold;
  text-transform:none;
  padding-left:80px;
  position:relative;
  cursor:pointer;
  &:before{
    content:"";
    position:absolute;
    background:url("../img/sprite.png") no-repeat -5px -5px;
    width:56px;
    height:56px;
    top:-15px;
    left:0;
  }
}
.form-checkbox:checked + .label-checkbox:before{
  background-position:-203px -5px;
}
.form-checkbox:checked + .label-checkbox:hover:before{
  background-position:-335px -5px;
}
.form-checkbox:checked + .label-checkbox:active:before{
  background-position:-269px -5px;
}
.form-checkbox + .label-checkbox:hover:before{
  background-position:-137px -5px;
}
.form-checkbox + .label-checkbox:active:before{
  background-position:-71px -5px;
}