.form-amount{
  border-bottom: 1px solid #e5e5e5;
  &__item{
    margin-bottom: 16px;
    &--first{
      margin-top: 38px;
    }
  }
  &__number{
    width: 66px;
    float: left;
    text-align: center;
  }
  &__item-description{
    width: 214px;
    float: left;
  }
}
