.index-promo{
  background: url(../img/bg-intro-bottom.png) no-repeat left 100.5%,
              url(../img/photo-background@1x.jpg) no-repeat 0 0;
  background-size: 100%, cover;
  position: relative;
  overflow: hidden;
  height: 450px;
  margin-bottom: 20px;
  padding-top: 75px;
  box-sizing: border-box;
  &__text{
    fill: #fff;
    display: block;
    margin: 0 auto;
    width: 350px;
    &--welcome{
      margin-bottom: 10px;
      fill: @blue;
    }
    &--gorgeous{
      margin-bottom: 50px;
      fill: #766357;
    }
    &--sedona{
      margin-bottom: 55px;
    }
  }
}

@media (min-width: @mobile){
  .index-promo{
    background: url(../img/bg-intro-bottom-tablet.png) no-repeat left 100.5%,
    url(../img/photo-background@1x.jpg) no-repeat 0 0;
    background-size: 100%, cover;
    height: 510px;
    margin-bottom: 50px;
    &__text{
      width: auto;
    }
  }
}

@media(min-resolution: 2dppx){
  .index-promo{
    background: url(../img/bg-intro-bottom@x2.png) no-repeat left 100.5%,
                url(../img/photo-background@2x.jpg) no-repeat 0 0;
    background-size: 100%, cover;
  }
}

