.index-promo{
  background: url(../img/bg-intro-bottom.png) no-repeat 0 354px,
  url(../img/intro-bg.jpg) no-repeat 0 0;

  height: 390px;
  position: relative;
  img{
    position: absolute;
    top: 29px;
    left: 20px;
  }
}
