.module-failure{
  width: 100%;
  height: 280px;
  box-shadow: 0 7px 15px 0 rgba(0, 0, 0, .15);
  text-align: center;
  padding-top: 25px;
  &__title{
    font-size: @font-title;
    line-height: @line-height-input;
    font-weight: bold;
    margin-bottom: 25px;
  }
  &__text{
    text-align: center;
    line-height: 24px;
    width: 220px;
    margin: 0 auto;
    margin-bottom: 44px;
  }
}

