.post-btn{
  display: inline-block;
  vertical-align: top;
  border: 2px solid @blue;
  font-size: @font-big;
  font-weight: bold;
  line-height: @line-height-input;
  padding: 14px 38px;
  text-decoration: none;
  color: #000;
  margin-right: 20px;
  margin-bottom: 20px;
  &--back{
    padding: 14px 56px;
    margin-bottom: 0;
  }
}
