.post-preview{
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  border-bottom: 2px solid #DBDBDB;
  &__title{
    font-size: @font-big;
    line-height: @line-height-input;
    font-weight: bold;
  }
  &__content{
     line-height: @line-height;
     margin-bottom: 30px;
  }
  &__tags{
    text-align: left;
  }
}
