.top-blog-intro{
  text-align: center;
  border-bottom: 2px solid #DBDBDB;
  padding-bottom: 20px;
  &__title{
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 30px;
  }
  &__text{
    line-height: 24px;
    width: 295px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  &__tags{
    text-align: left;
  }
}

@media(min-width: @mobile){
  .top-blog-intro{
    border-bottom: none;
    &__tags--post{
      width: 255px;
      margin: 0 auto;
      position: relative;
      &:before{
        content: "";
        position: absolute;
        width: 190px;
        height: 2px;
        top: 8px;
        left: -210px;
        background-color: #dbdbdb;
      }
      &:after{
        content: "";
        position: absolute;
        width: 190px;
        height: 2px;
        top: 8px;
        right: -210px;
        background-color: #dbdbdb;
      }
    }
  }
}
